
 h2{
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: 400;
    color: chocolate;
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.content-style h2{
    color: rgba(0, 0, 0, 0.256);
}