.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(37, 37, 37);
    width: 700px;
    height: fit-content;
     margin: auto;
    padding-right: 7em;
    padding-left: 7em;
    color: white;
    
    border-radius: 20px;
    display: grid;
    justify-items: center;
    padding-bottom: 3em;
    padding-top: 1em;

}
